<body>
  <div class="navigation navigation2" [ngClass]="{ open: flag, close: !flag }">
    <div class="menuToggle" (click)="menuToggle()"></div>
    <ul>
      <li class="list active" style="--clr: #f44336">
        <a>
          <span class="icon"><i class="ph-house-thin"></i></span>
          <span class="text">Home</span>
        </a>
      </li>

      <li class="list" style="--clr: #ffa117">
        <a>
          <span class="icon"><i class="ph-user-thin"></i></span>
          <span class="text">About</span>
        </a>
      </li>

      <li class="list" style="--clr: #0fc70f">
        <a>
          <span class="icon"><i class="ph-chat-teardrop-thin"></i></span>
          <span class="text">Message</span>
        </a>
      </li>

      <li class="list" style="--clr: #2196f3">
        <a>
          <span class="icon"><i class="ph-camera-thin"></i></span>
          <span class="text">Photos</span>
        </a>
      </li>

      <li class="list" style="--clr: #b145e9">
        <a>
          <span class="icon"><i class="ph-gear-six-thin"></i></span>
          <span class="text">Settings</span>
        </a>
      </li>
    </ul>
  </div>
</body>

<router-outlet></router-outlet>
